<template>
  <div>
    <ul class="content-list__list">
      <content-list-item 
        v-for="item in items" 
        :key="item.id" 
        :item="item"
        :selected="selected"
        @item-click="handleClick($event)">
      </content-list-item>
    </ul>
  </div>
</template>

<script>
  import ContentListItem from '@/components/content-list-item/ContentListItem.vue'

  export default {
    name: 'ContentList',
    components: {
      ContentListItem
    },
    props: {
      items: Array
    },
    data() {
      return {
        selected: 0
      }
    },
    methods: {
      handleClick(event) {
        this.$emit('item-click', event)
        this.selected = event.id 
      }
    }
  }
</script>

<style lang="scss" scoped>
  .content-list {
    &__list {
      display: flex;
      width: 100%;
      overflow: scroll;
      padding: 20px 70px 0px 70px;
      background: #ccc;
      margin: 0;
    }
  }
</style>