<template>
  <li 
    class="content-list-item"
    :class="{ 'content-list-item--selected' : selected === item.id }">
    <a 
      href="#"
      role="button"
      @click.stop="$emit('item-click', item)">
      <span class="content-list-item__title">{{ item.title }}</span>
      <div
        class="content-list-item__card"
        :style="`background-image: url(${getBackdropPath(item.poster_path)});`">
      </div>
    </a>
  </li>
</template>

<script>
  export default {
    name: 'ContentListItem',
    props: {
      item: {
        type: Object
      },
      selected: {
        type: Number,
        default: 0
      }
    },
    methods: {
      getBackdropPath(path) {
        return `https://image.tmdb.org/t/p/w200${path}`
      }
    }
  }
</script>

<style lang="scss" scoped>
  .content-list-item {
    list-style: none;
    transition: all .15s ease;

    &--selected {
      background: #fff;
      margin-bottom: 0;
    }

    &__title {
      display: none;
    }

    &__card {
      width: 200px;
      height: 300px;
      padding: 10px;
      margin: 10px 10px 30px 10px;
      transition: all .15s ease;

      &:hover {
        filter: brightness(70%) contrast(1.2);
      }
    } 
  }
</style>