<template>
  <div 
    v-if='currentMovieDetails'
    class='info-panel container'>
    <div class='info-panel__left-section'>
      <h3>{{ currentMovieDetails.title }}</h3>
      <a href='#' class='button is-primary'>Watch trailer</a>
      <a href='#'>Watch film</a>
    </div>
    <div class='info-panel__right-section'>
      <div class='info-panel__details'>
        <p>
          <span class='info-panel__details-item'>
          {{ runtime }}
          </span>
          &#9679;
          <span class='info-panel__details-item'>
          {{ currentMovieCert || 'N/A' }}
          </span>
          &#9679;
          <span class='info-panel__details-item'>
          {{ releaseYear }}
          </span>
          &#9679;
          <span class='info-panel__details-item'>
            <span
            v-for='(country, index) in currentMovieDetails.production_countries' :key='country.name'>
              {{ country.name }}
              <span v-if='index < currentMovieDetails.production_countries.length - 1'>,</span>
            </span>
          </span>
        </p>
      </div>
      <p class='info-panel__overview'>
        {{ currentMovieDetails.overview }}
      </p>
    </div>
  </div>
</template>

<script>
  import moment from 'moment'
  
  export default {
    name: 'InfoPanel',
    props: {
      currentMovieDetails: {
        type: Object
      },
      currentMovieCert: {
        type: String
      }
    },
    computed: {
      releaseYear() {
        return moment(this.currentMovieDetails.release_date, 'YYYY-MM-DD').format('YYYY')
      },
      runtime() {
        return this.currentMovieDetails.runtime ? `${this.currentMovieDetails.runtime}min` : 'N/A'
      }
    },  
  }
</script>

<style lang='scss' scoped>
  .info-panel {
    padding: 20px 80px;
    display: flex;

    &__right-section {
      width: 70%;
      margin-left: 60px;
    }

    &__left-section {
      width: 30%;
      margin-left: 60px;
    }

    &__details {  
      color: #aaa;
      display: flex;
      margin-top: 25px;

      &-item {
        margin: 0 15px;

        &:first-of-type {
          margin-left: 0
        }
      }
    }

    a {
      padding: 20px;
      background: #aaa;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      
      &:nth-of-type(2) {
        background: #1a68a9;
        margin-left: 10px;
      }
    }

    h3 {
      font-size: 1.9rem;
    }
  }
</style>