<template>
  <div id='app'>
    <header class='header'>
      <div class='header__banner-container'>
        <div class='header__banner'>
          Press <span>&#8634;</span> to return home
        </div>
        <div class='header__logo-container'>
          <h1>dmd</h1>
        </div>
      </div>
      <h2>New releases</h2>
    </header>
    <content-list 
      :items='movies'
      @item-click='itemClicked'>
    </content-list>
    <info-panel 
      :current-movie-details='currentMovieDetails'
      :current-movie-cert='currentMovieCert'>
    </info-panel>
  </div>
</template>

<script>
import MovieService from '@/services/MovieService'
import ContentList from '@/components/content-list/ContentList'
import InfoPanel from '@/components/info-panel/InfoPanel'

export default {
  name: 'app',
  components: {
    ContentList,
    InfoPanel
  },
  data() {
    return {
      movies: [],
      currentMovieCert: null,
      currentMovieDetails: null,
    }
  },
  created() {
    this.fetchMovies()
  },  
  methods: {
    fetchMovies() {
      MovieService.getMovies()
        .then(response => {
          this.movies = response.data.results
        })
        .catch(error => {
          console.log(error)
        })
    },
    fetchMovieDetails(movie) {
      MovieService.getMovieDetails(movie.id)
        .then(response => {
          this.currentMovieDetails = response.data
        })
        .catch(error => {
          console.log(error)
        })
    },
    fetchMovieCert(movie) {
      MovieService.getMovieCert(movie.id)
        .then(response => {
          let gbRelease = response.data.results.find(x => x.iso_3166_1 === 'GB')
          let orderedReleaseDates = gbRelease.release_dates.sort((a, b) => {
              let dateA = new Date(a.release_date), dateB = new Date(b.release_date);
              return dateA - dateB;
          })
          this.currentMovieCert = orderedReleaseDates[0].certification || 'NR'
        })
        .catch(error => {
          console.log(error)
        })
    },
    itemClicked(item) {
      // Move to Vuex store
      this.fetchMovieDetails(item)
      this.fetchMovieCert(item)
    }
  }
}
</script>

<style lang='scss'>
  html, body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
  }

  .container {
    width: 50%;
    margin: 0 auto;
  }

  .header {
    padding-top: 60px;
    padding-bottom: 20px;
    background: #1a68a9;
    color: #fff;
    font-size: 1.8rem;

    &__left-section {
      flex: 3;
    }

    &__right-section {
      flex: 1;
      padding-right: 80px;
      text-align: right;  

      h1 {
        margin: 0;
      }
    }

    &__banner-container {
      display: flex;
      align-items: center;
    }

    &__banner {
      color: #222;
      background: linear-gradient(90deg, #fff, #fff, #fff, transparent);
      padding: 10px 10px 10px 80px;
      flex: 3;
    }

    &__logo-container {
      flex: .3;
      text-align: right;
      padding-right: 80px;
      font-size: 2.4rem;

      h1 {
        margin: 0;
      }
    }

    h2 {
      margin: 20px 0 0 80px;
      text-transform: uppercase;
    }
  }
</style>  
